---
interface Props {
  handleClick?: () => void;
  className?: string;
}

const { handleClick, className } = Astro.props;
---

<button 
  onClick?={handleClick}
  class=`${className} bg-gradient-to-r from-[#FF2DF7] to-[#5200FF] text-white font-semibold p-[1px] rounded-full hover:bg-gradient-to-r hover:from-[#5200FF] hover:to-[#FF2DF7] transition-all hover:scale-10`>
  <span
    class="flex w-full bg-[#030210] text-white px-6 py-2 rounded-full gap-x-4 justify-center items-center"
  >
    <slot />
  </span>
</button>
