<!-- <button class="flex w-fit justify-center items-center gap-x-4 py-2 px-6 rounded-full text-white border-2 bg-white">
    <slot />
</button> -->
<button
  class="bg-gradient-to-r from-[#FF2DF7] to-[#5200FF] text-white font-semibold p-[1px] rounded-full w-fit hover:bg-gradient-to-r hover:from-[#5200FF] hover:to-[#FF2DF7] transition-all hover:scale-105"
>
  <span
    class="flex w-full bg-[#030210] text-white px-6 py-2 rounded-full gap-x-4 justify-center items-center"
  >
    <slot />
  </span>
</button>
