<div
  class="w-full mx-auto flex flex-row items-center justify-between py-4 bg-[#030210]/30 text-white sticky top-0 z-50 backdrop-blur-lg"
>
  <div
    class="flex flex-row items-center justify-between w-[90%] md:w-[1200px] mx-auto"
  >
    <a href="#Top">
      <h2 class="text-2xl font-bold">Ai Labs</h2>
    </a>

    <a href="#contact"
      ><p
        class="bg-gradient-to-r from-[#FF2DF7] to-[#5200FF] bg-clip-text hover:text-transparent"
      >
        Contact Us
      </p></a
    >
  </div>
</div>
