---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---
<div
  class="bg-gradient-to-r from-[#FF2DF7] to-[#5200FF] text-white font-semibold p-[1px] rounded-full w-fit py-1 px-3 text-[14px] mb-4"
>
  <slot />
</div>
