---
import SectionName from "./SectionName.astro";

interface Props {
  title: string;
  subtitle: string;
  className?: string;
}

const { title, subtitle, className } = Astro.props;
---

<div class=`mb-[32px] ${className}`>
  <SectionName>{subtitle}</SectionName>
  <h3 class="text-pretty">{title}</h3>
</div>
